/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.latency-time {
	color: rgb(181, 255, 248);
	font-size: 0.8rem;
}
.latency-time.big-urgency {
    color: #ffba6a !important;
}
.latency-time.medium-urgency {
    color: #fdff92;
}
.latency-time.huge-urgency {
    color: #ffb2b2;
    font-size: 0.9rem;
}
#calendar-container tr td:nth-child(6), #calendar-container tr td:nth-child(7) {
    background-color: #383838;
    border-right: 4px solid #262626;
}
